/* 09.13.2018 tps Scrolling table style for module submission page. 
 11.02.2018 tps Adjust table cell height for additional Activity 4.05 links.
*/
/* -------------- Scrolling table, rowspans in headers --------------------*/
  
.scrolling_right {
  overflow-x:auto;
  margin-left:239px;
  /* margin-left:318px; */
}

TABLE.dash_table {
  border-collapse: collapse;
  table-layout: fixed; 
}

TABLE.dash_table TD, TABLE.dash_table TH {
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid #CCC;
  margin: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

TABLE.dash_table TD {
  /* height: 45px; */
  height: 80px;
  text-align: center;
}

TABLE.dash_table TH {
  height: 63px;
}

/* -------------- Fixed column table --------------------*/

.fixed_left {
  position:absolute;
}

/* -------------- Student Column --------------------*/

TD.student_col {
  width:230px;
  /* height: 45px;  */
  height: 80px; 
  background-color: #eff3f4;
}

/* -------------- SpeedGrader Link --------------------*/
.speedgrader_label {
  font-weight: bold
}

/* -------------- Recent Submission Asterisk --------------------*/
.recent_submission_img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
}

/* -------------- Scrolling Table --------------------*/
DIV.scrolling_right TABLE.dash_table TD,
DIV.scrolling_right TABLE.dash_table TH {
  padding-left: 16px;
  padding-right: 16px;
}
