doctype html
HTML(lang="en")
  HEAD
    TITLE Invalid Request
    link(rel="stylesheet", href="./LatoLatin/latolatinfonts.css")
    LINK(REL="stylesheet", href="./style.css")
  BODY
    H1 Invalid Request
    P The application received a request for an unauthorized resource.
    if requestHeaders.referer
      P Referer: #{requestHeaders.referer}
